<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=width-width, initial-scale=1.0">
    <title>products</title>
    <!-- REMIX ICON CDN -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">
    <!-- TAILWIND CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="">
        <h1 class="text-3xl font-bold">Create Products Here</h1>
    </div>
</body>
</html>